<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<meta charset="UTF-8">

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container" style="margin-top: 100px;">

		<div class="text-right mb-2">
			<a th:href="@{/app/product/add}" class="btn btn-info">Nuevo
				producto</a>
		</div>

		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-4 col-lg-3 ml-2 mb-2" 
				th:each="product : ${my_products}">
				<div class="card ml-1 mb-1" style="width: 18rem;">
					<a th:href="@{/public/product/{id}(id=${product.id})}"> <img
						th:src="${#strings.isEmpty(product.image)} ? 'http://placehold.it/350x260' : ${product.image}"
						class="card-img-top" th:alt="${product.name}"
						style="height: 300px;">
					</a>
					<div class="card-body">
						<h5 class="card-title" th:text="${product.name}"></h5>
						<a th:if="${product.purchase == null}" data-toggle="modal"
							data-target="#delete-modal" th:data-id="${product.id}"
							class="btn btn-danger"><i class="fas fa-trash"></i></a>
						<span class="card-text"
							th:text="${#numbers.formatCurrency(product.price)}"></span>
						<span class="float-right badge badge-pill badge-info" th:if="${product.purchase == null}">No vendido</span>
						<span class="float-right badge badge-pill badge-warning" th:unless="${product.purchase == null}">Vendido</span>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Borrar producto</h4>
				</div>
				<div class="modal-body">
					<p>¿Está usted seguro de borrar este producto?</p>
					<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
					<a href="#" class="btn btn-danger">Sí</a>
				</div>
			</div>

		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('#delete-modal').on('show.bs.modal', function(event) {
				var button = $(event.relatedTarget);
				var data = button.data('id');

				var modal = $(this);

				var a = modal.find('.modal-body a')[0];
				a.href = '/app/my_products/' + data + '/delete';
				

			});
		});
	</script>

</body>
</html>